---
import ProjectCard from '../components/ProjectCard.astro';
import { getCollection } from 'astro:content';
import SectionTitle from '../components/SectionTitle.astro';
import Link from '../components/Link.astro';
const projects = await getCollection('project');
---

<section id="projects" class="section-padding">
  <SectionTitle text="✨ Proyectos destacados"/>
  <section class="projects__container">
    {
      projects.map(({ data }) => (
        <ProjectCard
          title={data.title}
          description={data.description}
          gitHubLink={data.gitHubLink}
          liveLink={data.liveLink}
          image={data.image}
          imageAlt={data.imageAlt}
          tags={data.tags}
        />
      ))
    }
    <Link
      isButton
      isSmokedGreen
      isGreen
      isBold
      shadowEffect
      target="_blank"
      href="https://github.com/EfrenAS/"
      title="Link to GitHub profile EfrenAS"
    >
    Ver más proyectos
    <span class="emoji"> 📦 </span>
  </Link>
  </section>
</section>
<style>

  .projects__container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
    margin-top: 6rem;
  }

  .projects-link {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 30rem;
    background: linear-gradient(0deg, var(--dark-green) 0%, var(--dark-color) 90%);
    border-radius: 0.5rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    text-decoration: none;
  }

  .projects-link:hover {
    animation: fill-bottom-top 170ms ease-out;
    background: linear-gradient(0deg, var(--light-green) 100%, var(--dark-green) 0%);
    color: var(--dark-color);
  }

  @keyframes fill-bottom-top {
    0% {
      background: linear-gradient(0deg, var(--dark-green) 0%, var(--dark-color) 90%);
    }
    25% {
      background: linear-gradient(0deg, var(--light-green) 25%, var(--dark-color) 75%);
    }
    50% {
      background: linear-gradient(0deg, var(--light-green) 50%, var(--dark-color) 50%);
    }
    75% {
      background: linear-gradient(0deg, var(--light-green) 75%, var(--dark-color) 25%);
    }
    100% {
      background: linear-gradient(0deg, var(--light-green) 100%, var(--dark-green) 0%);
    }
  }
</style>
