---
import ProjectCard from '../components/ProjectCard.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('project');
---

<section id="projects" class="project__section">
  <h2 class="title-lg text-green brightness-100 text-center">
    Proyectos destacados <span>✨</span>
  </h2>
  <section class="projects__container">
    {
      projects.map(({ data }) => (
        <ProjectCard
          title={data.title}
          description={data.description}
          gitHubLink={data.gitHubLink}
          liveLink={data.liveLink}
          image={data.image}
          imageAlt={data.imageAlt}
          tags={data.tags}
        />
      ))
    }
  </section>
</section>
<style>
  .project__section {
    padding: 2rem 0;
  }

  .projects__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
    padding: 4rem 0;
  }
</style>
