---
import Link from './Link.astro';
import Pill from '../components/Pill.astro';
import GithubIcon from '../icons/Github.astro';
import LinkIcon from '../icons/Link.astro';

import { Picture } from 'astro:assets';

const { title, description, gitHubLink, liveLink, tags, image, imageAlt } =
  Astro.props;
---

<div class="project__card">
  <div class="card--image">
    <Picture inferSize src={image} formats={['avif', 'webp']} alt={imageAlt} />
  </div><!-- .card--image -->
  <div class="card--text">
    <h3 class="text-green">{title}</h3>
    <p class="project__description">
      {description}
    </p>
    <div class="tags__container">
      {tags.map((tag) => <Pill text={tag} isSmall isOrangeText />)}
    </div>
    <div class="project__links">
      <Link
        href={gitHubLink}
        target="_blank"
        title="Link to GitHub del proyecto"
        isGreen
      >
        <GithubIcon />
      </Link>
      <Link
        href={liveLink}
        target="_blank"
        title="Link to Web del proyecto"
        isGreen
      >
        <LinkIcon />
      </Link>
    </div>
  </div><!-- .card--text -->
</div>

<style>
  .project__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 120rem;
  }

  @media (min-width: 600px) {
    .project__card {
      position: relative;
      width: 90%;
    }
  }

  @media (min-width: 900px) {
    .project__card {
      flex-direction: row;
    }

    .project__card:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  @media (min-width: 1400px) {
    .project__card {
      width: 80%;
    }
  }

  .card--image {
    width: 100%;
  }

  @media (min-width: 480px) {
    .project__card:nth-child(even) .card--image {
      -webkit-box-shadow: 12px 10px 10px -6px rgba(25, 97, 90, 0.5);
      -moz-box-shadow: 12px 10px 10px -6px rgba(25, 97, 90, 0.32);
      box-shadow: 12px 10px 10px -6px rgba(25, 97, 90, 0.4);
    }

    .card--image:nth-child(odd) {
      -webkit-box-shadow: -12px 10px 10px -6px rgba(25, 97, 90, 0.5);
      -moz-box-shadow: -12px 10px 10px -6px rgba(25, 97, 90, 0.32);
      box-shadow: -12px 10px 10px -6px rgba(25, 97, 90, 0.4);
    }
  }

  @media (min-width: 600px) {
    .card--image {
      width: 80%;
      max-width: 80rem;
    }

    .project__card:nth-child(even) .card--image {
      margin-left: auto;
    }
  }

  .card--image img {
    filter: grayscale(0.6) brightness(0.6);
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    transition: all 0.5s ease-out;
  }

  .card--image:hover img {
    filter: grayscale(0) brightness(1);
  }

  .card--text,
  .card--image,
  .card--image img {
    border-radius: 0.5rem;
  }

  .card--text {
    position: relative;
    height: fit-content;
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    background-color: rgba(253, 255, 252, 80%);
    padding: 1rem;
    text-wrap: pretty;
    top: -4rem;
  }

  @media (prefers-color-scheme: dark) {
    .card--text {
      background-color: rgba(2, 22, 39, 70%);
    }

    body.light__theme .card--text {
      background-color: rgba(253, 255, 252, 80%);
    }
  }

  @media (min-width: 480px) {
    .card--text {
      top: -10rem;
    }

    .project__card:nth-child(odd) .card--text {
      margin-left: auto;
    }
  }

  @media (min-width: 900px) {
    .project__card:nth-child(odd) .card--text {
      position: absolute;
      right: 0;
      top: 22%;
    }

    .project__card:nth-child(even) .card--text {
      position: absolute;
      left: 0;
      top: 22%;
    }
  }

  .project__card:nth-child(odd) .card--text {
    text-align: right;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(46, 194, 179, 0.32);
    -moz-box-shadow: 3px 3px 0px 0px rgba(46, 194, 179, 0.32);
    box-shadow: 3px 3px 0px 0px rgba(46, 194, 179, 0.32);
  }

  .project__card:nth-child(even) .card--text {
    text-align: initial;
    -webkit-box-shadow: -3px 3px 0px 0px rgba(46, 194, 179, 0.32);
    -moz-box-shadow: -3px 3px 0px 0px rgba(46, 194, 179, 0.32);
    box-shadow: -3px 3px 0px 0px rgba(46, 194, 179, 0.32);
  }

  .project__description {
    font-size: var(--text-md);
  }

  .project__links {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
  }

  .project__card:nth-child(odd) .project__links {
    justify-content: flex-end;
  }

  @media (min-width: 1440px) {
    .project__description {
      font-size: var(--text-normal);
    }
  }
</style>
